.four0Four-header-logo {
    width: 50px;
    height: 50px;
    min-width: 50px;
}

.four0Four-header {
    max-width: 1200px;
    margin: 0 auto 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four0Four-logo {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
    text-decoration: none;
}