.btn-visible {
    display: block;
    position: fixed;
    z-index: 999;
    width: 45px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
    transition: transform 0.3s ease-in-out;
    background-image: url('https://api.iconify.design/material-symbols/arrow-upward.svg?color=%23626262');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

.btn-hidden {
    display: none;
}